/* CSS Document */
header, nav, main, address, footer { 
    display: block; 
}
* {
    margin: 0;
}
@font-face {
	src: url("https://use.typekit.net/oux4kyb.css");
	font-family: circe-slab-c;
	font-weight: 400;
	font-style: normal;
}
@font-face {
	src: url("https://use.typekit.net/oux4kyb.css");
	font-family: hero-new;
	font-weight: 300;
	font-style: normal;
}
@font-face {
	src: url("https://use.typekit.net/oux4kyb.css");
	font-family: source-serif-4-display;
	font-weight: 300;
	font-style: normal;
}
header {
    font-weight: bolder;
    font-size: 170%;
}

/*Navigation*/

nav {
	margin-bottom: 3em;
	margin-right: auto;
	margin-left: auto;
	background: rgba(34,34,34,0.7);
	width: 100%;
}
nav a {
    text-decoration: none;
    color: #fff;
    font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
    font-size: 90%;
	font-weight: 200;
    padding: 1em;
    text-align: center;
	margin-right: auto;
    margin-left: auto;
}
nav ul {
	list-style-type: none;
	display: flex;
    margin: 0;
    padding: 0;
}
nav ul li {
    cursor: pointer;
    padding: 10px 3rem; 
	/* padding: 10px 3.35rem; */
    flex: auto;
	text-align: center;
} 
/* .nav-addPadding {
	padding: 10px 4rem;
}
.nav-smPadding {
	padding: 10px 3.1rem;
} */
nav ul li:hover {
    /* background: rgba(231,138,88,0.6); */
	background: rgba(203,188,140,0.5);
}
nav-items {
    margin: 0;    
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    order: 2;
}
nav:not(.navLogo) ul li a:hover {
    color: rgb(34,34,34);
	font-weight: 800;
}
#navLogo {
	max-width: 35px;
	padding-top: 5px;
}
#wrapper { 
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    width: 1200px; 
}


/*Global Styles*/

h2 {
	font-size: 400%;
	text-align: center;
	margin-bottom: 1em;
	font-weight: 100;
	font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
}
h3 {
	font-size: 200%;
	font-weight: 400;
	text-align: center;
	font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
	letter-spacing: 3px;
	background: url("images/h3_bubble.png") repeat;
	background-position: center;
	background-size: cover;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: saturate(5) contrast(120%) brightness(200%) hue-rotate(90deg);
}
h4 {
	text-align: center;
	padding: 0 0 2em;
	font-size: 130%;
	font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
	color: rgba(255, 255, 255, 0.7);
}
.mainSubhead {
	margin-bottom: 2em;
}

body {
	font-size: 100%;
	font-family: hero-new, Helvetica, Tahoma, sans-serif;
	background: url("images/digital_illustrations/index_circle_low-opacity.png"), rgba(34,34,34, 0.9) no-repeat;
    background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	color: #fff;
}
main    {
    margin-left: auto;
    margin-right: auto;
}
.activePage {
	color: #ffc;
	text-shadow: 0 0 .05em, 0 0 .2em;
}
ul li 	{
	font-family: hero-new, Helvetica, Tahoma, sans-serif;
	font-size: 110%;
	color: rgb(34,34,34);
	list-style-type: none;
}

/*Landing Page | Home*/

.centralGrid {
	display: grid;
	grid-template-columns: 22em 10em 30em 10em 20em; /* 25em 5em 15em 5em 15em */
	grid-template-rows: 205px 125px 120px;
	/* grid-template-rows: 205px 125px 120px 500px; */
	grid-gap: 10px;
	text-align: center;
	margin-top: -10px;
}
.jumpToCalc {
	height: 20px;
	width: 300px;
	padding: 1em;
	margin-top: 3em;
	text-align: center;
	display: inline-block;
	line-height: 1.2em;
	background: rgba(203,188,140,0.4);
	border-radius: 30px;
    border-style: hidden;
	color: rgba(34,34,34, 0.9);
	letter-spacing: 3px;
	font-size: 110%;
	text-decoration: none;
	justify-self: center;
}
.jumpToCalc:hover {
	background: rgb(203,188,140);
	transform: scale(1.05);
	letter-spacing: 2px;
	font-size: 115%;
	cursor: pointer;
}
#suggestionJump {
	grid-area: 1 / 2 / 1 / 3;
}
#pricingJump {
	grid-area: 1 / 4 / 1 / 5;
}
#objectJump  {
	grid-area: 1 / 3 / 1 / 4;
	padding-bottom: 1em;
	font-size: 100%;
	margin-top: -1em;
}
.button {
	height: 20px;
	width: 100px;
	padding: 1em;
	text-align: center;
	display: inline-block;
	line-height: 1em;
	grid-area: 3 / 3 / 4 / 4;
	background: rgba(231,138,88,0.6);
	border-radius: 30px;
    border-style: hidden;
	color: rgba(34,34,34, 0.9);
	letter-spacing: 3px;
	font-size: 140%;
	text-decoration: none;
	z-index: 1;
	justify-self: center;
}
.button:hover {
	background: rgb(224,80,116);
	transform: scale(1.05);
	letter-spacing: 5px;
	font-size: 125%;
	cursor: pointer;
}
.brandHeader {
	justify-items: center;
	display: none;
}
h1 {
    font-family: source-serif-4-display, serif;
    font-size: 700%;
	font-weight: 400;
	letter-spacing: .35em;
	text-transform: lowercase;
	margin-bottom: 0.5em;
    grid-area: 1 / 3 / 2 / 4;
	/*max-width: 90vw;*/
	justify-content: center;
	text-align: center;
}
.last-word {
	letter-spacing: .5em;
	font-size: 108%;
	font-weight: 600;
	color: rgb(203,188,140);
	grid-area: 2 / 2 / 2 / 5;
	text-align: center;
	justify-content: center;
}
#heroLogo {
	/* grid-area: 4 / 3 / 5 / 4; */
	grid-area: 1 / 2 / 3 / 5;
	max-width: 100%;
	padding-bottom: 3em;
	margin: 0 auto;
}
.landingPage {
	z-index: 2;
	opacity: 0.5;
}
.animationArea {
    width: 100%;
    height: 800%;
	display: flex;
    align-items: center;
    justify-content: center;
}

/*Work Page*/

.gallery {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 20vw);
	grid-gap: 10px;
	max-width: 95vw;
	margin-top: 10em;
}
.work h3 {
	margin-bottom: 5em;
}
#projectIdeas h4 {
	margin-top: 2em;
	font-size: 150%;
}
h5 {
	text-align: center;
	margin-top: -1em;
	padding-bottom: 1em;
	font-size: 105%;
	font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
	color: rgba(255, 255, 255, 0.7);
}
.gallery-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.gallery-img:hover {
	object-fit: contain;
}
#maxRegistrationForm {
	object-position: center top;
}
#projectIdeas {
	grid-area: 4 / 4 / 5 / 5;
	margin-right: 3em;
}
#results ul > li {
	color: #fff;
}
#button:hover {
	background: rgb(203,188,140);
	transform: scale(1.05);
	letter-spacing: 2px;
	font-size: 145%;
	cursor: pointer;
}
#boxedH3 {
	padding: 0;
	margin: 0;
	margin-top: -1em;
}
#instructionBox  {
	grid-area: 4 / 1 / 6 / 4;
	width: 100%;
	height: 50%;
	padding: 3em 2em 3em 2em;
	text-align: center;
	box-sizing: content-box;
}
/*#modelBox  {
	grid-area: 4 / 1 / 5 / 4;
	width: 100%;
	height: 100%;
	padding: 3em 2em 14em 2em;
	text-align: center;
	box-sizing: content-box;
} */
#modelBtn {
	height: 50px;
	width: 300px;
	padding: 1em;
	text-align: center;
	line-height: 1.2em;
	background: rgba(203,188,140,0.4);
	border-radius: 30px;
    border-style: hidden;
	color: rgba(34,34,34, 0.9);
	letter-spacing: 3px;
	font-size: 110%;
	text-decoration: none;
	position: sticky;
	grid-area: 5 / 4 / 5 / 5;
}

#modelBtn:hover {
	background: rgb(203,188,140);
	transform: scale(1.05);
	letter-spacing: 2px;
	font-size: 115%;
	cursor: pointer;
}

#api-frame {
	width: 100%;
	height: 125%;
	object-fit: contain;
	margin-top: 1em;
}
#apiInstructions {
	padding: 2em;
	margin-top: 2em;
	grid-area: 5 / 4 / 5 / 5;
	font-size: 85%;
	margin-left: 10%;
	position: sticky;
	object-fit: contain;
	width: 25vw;
}

/*About Page*/

#about h4 {
	padding: 0 13em;
	line-height: 1.5;
}
#aboutServices h3 {
	margin-top: 3em;
	font-size: 210%;
}
.services	{
	display: grid;
	grid-template-columns: 31% 33% 35%;
	grid-gap: 10px;
	text-align: center;
	margin-top: 3em;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	max-width: 70%;
}
.services li {
	margin: 1em 0;
}
.iconSet {
	margin-bottom: 20px;
}
#brandingIcon {
	margin-top: -10px;
}
.colHead {
	font-size: 125%;
	grid-row: 2;
	margin: 10px 0 10px;
	color: #fff;
}
.col1, .col2, .col3 {
	background: rgba(255, 255, 255, 0.4);
	color: rgb(34,34,34);
	border: none;
	border-radius: 15px;
}
.col1 {
	grid-area: 3 / 1 / 4 / 2;
    padding: 20px 50px;
}
.col2 {
	grid-area: 3 / 2 / 4 / 3;
    padding: 20px 60px;
	margin-top: -1px;
}
.col3 {
	grid-area: 3 / 3 / 4 / 4;
    padding: 20px 40px;
}

/* Float Shadow Hover Effect */
.hvr-float-shadow {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(4px) translateZ(0);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform;
	transition-property: transform;
  }
  .hvr-float-shadow:before {
	pointer-events: none;
	position: absolute;
	z-index: -1;
	content: '';
	top: 100%;
	left: 5%;
	height: 10px;
	width: 90%;
	opacity: 0;
	background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 90%);
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0) 90%);
	/* W3C */
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
  }
  .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
	filter: drop-shadow(2px 3px 4px #333) grayscale(.5);
	/* move the element up by 5px */
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
	/* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
  }

  /* Bob Hover Effect */
  /* Bob */
@-webkit-keyframes hvr-bob {
	0% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
	50% {
	  -webkit-transform: translateY(-4px);
	  transform: translateY(-4px);
	}
	100% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
  }
  @keyframes hvr-bob {
	0% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
	50% {
	  -webkit-transform: translateY(-4px);
	  transform: translateY(-4px);
	}
	100% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
  }
  @-webkit-keyframes hvr-bob-float {
	100% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
  }
  @keyframes hvr-bob-float {
	100% {
	  -webkit-transform: translateY(-8px);
	  transform: translateY(-8px);
	}
  }
  .hvr-bob {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
	-webkit-animation-name: hvr-bob-float, hvr-bob;
	animation-name: hvr-bob-float, hvr-bob;
	-webkit-animation-duration: .3s, 1.5s;
	animation-duration: .3s, 1.5s;
	-webkit-animation-delay: 0s, .3s;
	animation-delay: 0s, .3s;
	-webkit-animation-timing-function: ease-out, ease-in-out;
	animation-timing-function: ease-out, ease-in-out;
	-webkit-animation-iteration-count: 1, infinite;
	animation-iteration-count: 1, infinite;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-direction: normal, alternate;
	animation-direction: normal, alternate;
  }

  /* Horizontal Out Shutter Hover Effect */
  /* Shutter Out Horizontal */
/*.hvr-shutter-out-horizontal {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(5px) translateZ(0);
	transform: perspective(5px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	background: rgba(34,34,34,0.7);;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
  }
  .hvr-shutter-out-horizontal:before {
	content: "";
	position: absolute;
	z-index: -1;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(203,188,140,0.5);
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transform-origin: 50%;
	transform-origin: 50%;
	-webkit-transition-property: transform;
	transition-property: transform;
	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;
	-webkit-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
  }
  .hvr-shutter-out-horizontal:hover, .hvr-shutter-out-horizontal:focus, .hvr-shutter-out-horizontal:active {
	color: white;
  }
  .hvr-shutter-out-horizontal:hover:before, .hvr-shutter-out-horizontal:focus:before, .hvr-shutter-out-horizontal:active:before {
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
  } */


.aboutMe	{
	display: grid;
	grid-template-columns: 60% 30%;
	grid-template-rows: minmax(max-content, auto);
	max-width: 80%;
	margin-top: 6em;
	margin-bottom: 6em;
	justify-content: center;
	line-height: 1.5;
	margin-left: auto;
	margin-right: auto;
}
.aboutMe h3	{
	font-size: 500%;
}
.aboutBubble	{
	background: linear-gradient(rgba(228, 228, 228, 0.45), rgba(228, 228, 228, 0.35)), url(images/brightOrangeLiquidWave.jpg);
	background-repeat: no-repeat;
	padding: 1em;
	text-align: center;
	font-size: 125%;
	border-radius: 15px;
	color: rgb(34,34,34);
}

	/* Slide Down Animation */
#slideDown1	{
	transition:height 1s ease-out;
	height: 0;
    overflow:hidden;
}
#slideDown2	{
	transition:height 1s ease-out;
	height: 0;
    overflow:hidden;
}
#slideDown3	{
	transition:height 1s ease-out;
	height: 0;
    overflow:hidden;
}

.bubbleIcons {
	margin-bottom: 10px;
}
#worldIcon	{
	box-shadow: inset 0 0 10px #000000;
	border-radius: 50%;
}
#about1	{
	height: 210px;
	background-position: center;
	margin-top: 2em;
}
#about2	{
	height: 180px;
	background-position: left;
	margin-top: .9em;
}
#about3	{
	height: 235px;
	max-width: 74%;
	background-position: center;
	margin: 0 auto;
}
#designTeam	{
	max-width: 80%;
	margin: 0 auto;
	margin-top: -9em;
	margin-bottom: 2em;
	border-radius: 15px;
	opacity: 0.6;
}
.me {
	width: 100%;
	height: 100%;
	object-fit: contain;
	margin-right: auto;
	margin-left: auto;
}
#p1 {
	grid-area: 2 / 1;
}
#p2 {
	grid-area: 2 / 1;
	margin-top: 8em;
	padding-top: 4em;
}
#p3 {
	grid-area: 4 / 1;
	margin-top: -3em;
}
#p4 {
	grid-area: 3 / 2;
	margin-top: -2em;
}
#p5 {
	grid-area: 4 / 2;
}
#disneyPainting {
	grid-area: 3 / 1;
	margin-top: -2em;
}
#selfie {
	grid-area: 2 / 2;
	margin-top: -2em;
	max-width: 60%;
}
#aboutLogo {
	grid-area: 3 / 2 / 4 / 2;
	padding: 8em 3em;
	opacity: 0.5;
	width: 20vw;
}

/*Contact Page*/

#forms    {
    max-width: 75%;
    margin-left: auto;
    margin-right: auto;
}
#contactForm    {
    margin-bottom: 3em;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em 1em;
}
#newsletterForm {
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
}
#costEstimator {
	max-width: 40em;
	min-width: 25em;
	margin-bottom: 4em;
	margin-left: auto;
	margin-right: auto;
}
#costEstimator fieldset {
	padding: 1em 1.5em 1em;
 }
#calcEst p {
	font-size: 120%;
	background: rgb(231,138,88);
	border-radius: 30px;
	padding: 20px 8px;
	text-align: center;
}
#estimate {
	 font-size: 150%;
	 color: #2e78e6;
	 text-shadow: 1px 1px 2px #1a1a1a;
}
.instructions {
	 font-size: 150%;
	 padding: 1em;
	 color: rgba(34,34,34,0.8);
}
fieldset {
	position: relative;
}

/* Form Inputs */

input[type=text], input[type=email], input[type=tel], select, textarea{
    width: 95%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
    opacity: 1 !important;
  }
label {
    padding: 12px 12px 12px 0;
    display: block;
    font-weight: 500;
	font-size: 1.2em;
}
input[type=submit] {
    background: rgba(203,188,140, .6);
    font-size: 120%;
    font-family: hero-new, Helvetica, Tahoma, sans-serif;
    padding: 12px 20px;
    border: none;
    border-radius: 30px;
    margin-top: 1em;
    cursor: pointer;
    float: right;
    opacity: 1 !important;
}
input[type=submit]:hover {
	background: rgb(203,188,140);
	/* transform: scale(1.2); */
	letter-spacing: 2px;
	font-size: 115%;
	cursor: pointer;
}
input[type=text]:focus, input[type=email]:focus, input[type=tel]:focus, select:focus, textarea:focus {
    background-color: #f5edfc;
}
::placeholder   {
    color:rgba(0, 0, 0, 0.5);
    font-family: hero-new, Helvetica, Tahoma, sans-serif;
}
.form {
    border-radius: 5px;
    background-color: rgba(164, 171, 191, .75);
    padding: 10px 20px 20px 20px;
}
.checklist > li::before {
	content: "✅" !important;
	margin-right: 0.5rem;
	clear: both;
}
.checklist > li {
	display: inline-block;
	padding: 5px 10px;
	color: #fff;
}
.checklist {
	padding: 1em 0 3em;
	text-align: center;
}
form {
	margin: 0 auto;
 }
input {
	margin: 10px;
 }
input[type=button], #button {
    background: rgba(203,188,140, .6);
    font-size: 140%;
    font-family: hero-new, Helvetica, Tahoma, sans-serif;
    padding: 12px 45px;
    border: none;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
}
#calcEst {
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}
#getCalc {
	line-height: .1;
	padding: 1.5em;
	font-size: 115%;
}
input[type=button]:hover {
	background: rgb(203,188,140);
	transform: scale(1.05);
	letter-spacing: 2px;
	font-size: 145%;
	cursor: pointer;
}
.dropdown {
	margin-bottom: 2em;
	max-width: 23em;
	height: 3em;
	line-height: 4;
	overflow: hidden;
	border-radius: .25em;
	background: #dbcdf8;
	font-size: 110%;
	font-family: hero-new, sans-serif;
}
.dropdown:hover  {
	color: #fff;
	background:#B497F0;
}
select {
	opacity: .3;
	outline: 0;
	background: #B497F0;
	background-image: none;
	width: 100%;
	height: 100%;
	color: rgb(107, 106, 106);
	cursor: pointer;
	border:1px solid #cbbc8c;
	border-radius:3px;
}
[type=checkbox] + label  {
	position: relative;
	margin-left: 3em;
	transform: translateY(-2.1em);
}

/* Contact Form Results Print */

#profile	{
	right: 10%;
	top: 200px;
	display: none;
	position: fixed;
	margin-right: -10em;
}
#profile h3	{
	padding: 1em;
}
#profile h4	{
	font-size: 115%;
	text-align: left;
	padding-left: 1em;
}
.summary	{
	color: rgb(203,188,140);
	text-align: right;
	padding-right: 2em;
	margin-top: -2em;
	margin-bottom: 2em;
	font-size: 115%;
}
.talkbubble {
	width: 400px;
	max-height: 1000px;
	background-color: rgba(12, 186, 186, .5);
	background-image: linear-gradient(315deg, rgba(12, 186, 186, .5) 0%, rgba(56, 0, 54, .5) 74%);
	position: relative;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
  }
.talkbubble:before {
	content: "";
	position: absolute;
	right: 100%;
	top: 26px;
	width: 0;
	height: 0;
	border-top: 26px solid transparent;
	border-right: 52px solid rgba(44,62,93,.7);
	border-bottom: 26px solid transparent;
}
.hideProfile	{
	display: none;
}

/* Contact Form Validation Error Messages */

.hiddenError {
	display: none;
	font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
	text-shadow: 3px 3px 5px #771C0B;
	font-size: 110%;
	margin-left: 8em;
	margin-bottom: -2em;
}
.fieldsetErr {
	display: none;
	font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
	text-shadow: 3px 3px 5px #771C0B;
	font-size: 110%;
	margin-left: 18em;
	margin-bottom: -2em;
}
#errorText {
	display: none;
	text-align: center;
	padding: 10px;
	max-width: 70%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: .5em;
	border-radius: 5px;
    background-color: rgba(164, 171, 191, .75);
	color: white;
	border: 2px solid rgb(190,50,38);
	font-size: 130%;
}
#reqErr	{
	display: none;
	font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
	text-shadow: 3px 3px 5px #771C0B;
	font-size: 110%;
	margin-left: 12em;
	padding-bottom: 1em;
}
#budgetErr	{
	font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
	text-shadow: 3px 3px 5px #771C0B;
	font-size: 110%;
	margin-left: 11em;
	margin-top: -2em;
}

/* Validation (Thank You) Page Styles */

.validation {
	max-width: 1470px;
}
.validateGrid {
	background: url(images/paintings/make_them_look_944px.jpg) rgba(42, 43, 44, 0.85) no-repeat;
    background-blend-mode: multiply;
    background-size: contain;
	height: 944px;
    color: #fff;
    text-align: center;
}
.validateGrid p {
	font-size: 250%;
	max-width: 1100px;
	text-align: center;
	margin: 0 auto;
}
.validateGrid h3 {
	font-size: 500%;
	padding-top: 3em;
}

/* Web Security Page */

#webSafe  {
	margin-top: -1.5em;
}
#securityIntro {
	max-width: 65%;
	text-align: center;
	margin: 0 auto;
	margin-top: -40px;
	margin-bottom: 1.5em;
}
.securityDemo {
	margin: 0 auto;
	padding: 10px 20px 100px 20px;
    width: 920px;
	background: rgba(203,188,140,0.4);
	border: none;
	border-radius: 15px 0 15px 0;
    margin-bottom: 10px;
	clear: both;
}
.securityDemo article {
	margin-bottom: 6em;
}
.securityDemo p {
	padding: 10px;
	color: rgb(34,34,34);
	line-height: 1.5;
	font-size: 110%;
}
ol {
	list-style-type: decimal;
	margin-left: 2em;
	color: rgb(34,34,34);
	line-height: 1.5;
}
.readMore {
	padding: 1em;
	height: 10px;
	width: 125px;
	font-size: 80%;
	text-align: center;
	text-transform: uppercase;
	background: rgba(203,188,140,0.6);
	border-radius: 30px;
    border-style: hidden;
	color: rgba(34,34,34, 0.9);
	letter-spacing: 3px;
	line-height: 1em;
	text-decoration: none;
	float: right;
}
.readMore:hover {
	background: rgb(203,188,140);
	letter-spacing: 4px;
	font-size: 95%;
	width: 150px;
	cursor: pointer;
}

#map {
	height:400px;
	width:600px;
	margin: 0 auto;
}

#mapTitle  {
	margin-top: 1em;
	margin-bottom: -1em;
}

.gradientBorder {
	position: relative;
	height: 400px;
	width: 600px;
	font-size: 5em;
	color: #fff;
	text-align: center;
	letter-spacing: 5px;
	background: #020117;
	margin: 0 auto;
}
.gradientBorder::after {
	content: '';
	position: absolute;
	top: -5px;
	left: -5px;
	right: -5px;
	bottom: -5px;
	background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
	z-index: -1;
}
.gradientBorder::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: linear-gradient(45deg, #ffd800, #ff5520, #750cf2, #0cbcf2);
	z-index: -2;
	filter: blur(40px);
}
.gm-style-iw-d {
	color: #5B3EED;
	font-size: 14px;
	text-shadow: 1px 1px 5px #4b4a4a;
	line-height: 1.3;
	font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
}
#note  {
	text-align: center;
	font-size: 95%;
	letter-spacing: 2px;
}


/* Design Requests Page */
/* Business Card Creator Styles */

.newObject	{
	background-image: url(images/embossedBusinessCard_texture.jpg);
	background-size: contain;
	border-radius: 10px;
	border: 2px solid;
	box-shadow: 5px 7px 6px #1a1a1a;
	width: 262px;
	height: 150px; 
	padding: 2em; 
	margin-left: auto;
	margin-right: auto;
	font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
	color:rgba(42, 43, 44, 0.85);
	text-align: right;
	line-height: 1.2;
}
#businessDisplay	{
	border-radius: 5px;
	border: 2px solid;
	box-shadow: 5px 10px 8px #888888;
	margin-top: 3em;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: auto;
	text-align: center;
	row-gap: 2em;
	max-width: 80%;
	margin: 0 auto;
	background-color: rgba(12, 186, 186, .5);
	background-image: linear-gradient(315deg, rgba(12, 186, 186, .5) 0%, rgba(56, 0, 54, .5) 74%);
	margin-top: 2em;
	padding: 1em 0;
}
#btn_business	{
	padding-bottom: 2em;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	display: block;
}
.focusArea	{
	max-width: 50%;
	margin-left: auto;
	margin-right: auto;
	padding: 2em;
	border-radius: 5px;
    background-color: rgba(164, 171, 191, .55);
}
.longHeading  {
	max-width: 500px;
	text-align: center;
	margin: 0 auto;
	margin-top: -1.5em;
}
#dynamicContent	{
	min-height: 1500px;
}

/* Pricing Estimator */
#priceEst {
	margin-top: 5em;
	margin-bottom: 10em;
}

/*Footer Styles*/

footer {
    height: 8em;
    padding: 2em;
    background-color: rgba(34,34,34,0.8);
	width: 100%;
	margin-top: auto;
	position: relative;
	bottom: 0;
}
footer p {
	color: rgb(203,188,140);
	text-align: center;
    font-family: circe-slab-c, 'American Typewriter', 'Times New Roman', serif;
	margin-top: 1em;
}
#footerLogo {
	max-width: 80px;
	float: left;
	margin-bottom: 25px;
	opacity: 0.7;
}
#push	{
	position: absolute;
	bottom: 0;
}
.contentWrap  {
	padding-bottom: 7em;
}
.container  {
	position: relative;
	min-height: 100vh;
}
.requestContainer {
	display: block !important;
	position: relative;
	min-height: 100vh;
}




/*Responsive Adjustments*/

    @media screen
		and (min-width: 1560px) {
			
		/*About Page*/
			
			.col1, .col2, .col3 {
				max-height: 250px;
			}
	}
	@media screen
		and (min-width: 1366px) {
			
		/*Footer*/
			
			/*footer {
				margin-top: 30em;
			}
			body {
				max-height: 80vh;
			}*/
		
		/*About*/
			
			#disneyPainting {
				max-width: 70%;
			}
			#aboutLogo {
				max-width: 60%;
			}
	}
	@media screen
		and (max-width: 1600px) {

		/*Client Summary*/

			#profile  {
				right: 15%;
			}
			.talkbubble {
				width: 300px;
			}

	}
	@media screen
		and (max-width: 1300px)	{
			.talkbubble	{
				width: 250px;
			}
			#profile h4	{
				font-size: 110%;
			}
			.summary  {
				font-size: 100%;
			}
		}
	@media screen
		and (max-width: 1150px) {
			#profile {
				position: relative;
				top: 0;
				margin: 0 auto;
				margin-bottom: 2em;
				left: 50%;
				transform: translateX(-90%);
			}
			.talkbubble	{
				width: 350px;
				padding-bottom: 1em;
			}
		}
	@media screen
		and (max-width: 900px)  {
			.fieldsetErr, .hiddenError, #reqErr {
				font-size: 100%;
				margin-left: 2em;
				padding-top: 1em;
				padding-bottom: 2em;
			}

		}

